// Default mixins and settings -----------------
@import "./moon.scss";

.footer {
    position: absolute; 
    left: 0;
    // bottom: 0.5em;
    bottom: 0;
    background-color: #ffffff1f;
    width: 100%;
    height: 100px;
    padding: 10px;
    // display: flex;
    // align-items: center;
}


.reveal-viewport {
    background: #274b89;
    // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/repeated-square.png");
    // background-image: url("/dist/background.webp");
}

.reveal {
    color: #fff;
}

.controls-arrow {
    color: white;
}


.footer img {
    display: block;
    margin: 0;
    margin: 0 5px;
    height: 150px;
    width: auto;
    float: left;
}

.footer span {
    // float: right;
    font-size: 0.8em;
    line-height: 80px;
    // color: ;
    position: absolute;
    bottom: 15px;
    left: 320px;
    display: block;
}

.reveal .controls {
    bottom: 25px;
}

.authors {
    font-size: 0.8em;
    text-align: right;
    margin-top: 100px;
    display: block;
}

.title {
    font-weight: bold;
    font-size: 40px;
}

// .detection-comp {
//     float: left;
//     width: 40%;
// }

// .simulation-comp {
//     float: right;
//     width: 33%;
// }

.reveal-overview {
    display: flex;
    align-items: center;
    .fragment {
        opacity: 0.2 !important;
        transition: opacity .2s ease !important;
    }
    
}

.reveal-overview .current-fragment {
    transform: scale(1.1);
    opacity: 1 !important;
}


.side-by-side {
    display: flex !important;

    > * {
        width: 50%;
        display: block;
        text-align: center;
    }
}

a {
    color: #97d1f9 !important;
}

.automatic-performance {
    font-size: 0.6em;
}

iframe {
    overflow: hidden;
    margin: auto;
    display: block;
}

.bg-white {
    background-color: #fff;
}

.asr-results tr:nth-child(2n) td {
    // border-bottom: 10px solid #ccc;
    border: transparent !important;
}

.asr-results tr:nth-child(2n+3) td {
    // border-bottom: 10px solid #ccc;
}

.smaller {
    font-size: 0.6em;
}

.gray {
    color: #ffffff6e;
}

.space-above {
    margin-top: 60px;
}

.fit-height {
    height: 500px;
    width: auto;
    background-color: #fff;
    padding: 10px;
}

.white {
    // background-color: #ffffffba;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}

small {
    font-size: 0.4em !important;
}

.big-left {
    .left {
        width: 70%;
    }

    .right {
        width: 30%
    }
}

.bigger {
    margin-top: 20px;
    font-size: 0.8em !important;
}

.notch-left {
    position: relative !important;
    right: 140px !important;

}
.notch-left130 {
    position: relative !important;
    right: 130px !important;

}
.notch-left120 {
    position: relative !important;
    right: 120px !important;

}
.notch-left110 {
    position: relative !important;
    right: 110px !important;

}
.notch-left100 {
    position: relative !important;
    right: 100px !important;

}
.notch-right80 {
    position: relative !important;
    left: 80px !important;

}